<body>
  <form method="post" action="/puppy">
    <p><label for="name"> Puppy Name</label></p>
    <p><input type="text" id="name" name="name"></p>
    <p><label for="breed"> Puppy Breed</label></p>
    <p><input type="text" id="breed" name="breed"></p>
    <p><label for="age"> Puppy Age</label></p>
    <p><input type="text" id="age" name="age"></p>
    <p><input type="submit" id="submit" value="submit"></p>
  </form>
</body>
